html {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 20px;
  }
}

body{
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.2rem;
}

